<h1>Happy Valentine's Day Kristen!</h1>
<h2>Bob and Marcus love you very much!</h2>
<p>Instead of spending money on a card made and unwritten by some unknown employees of Hallmark, your husband decided to make this website for you for free.</p>
<p>Sorry your new camera is not here in time for Valentine's day - but we'll make sure it arrives in time for your photography class.</p>
