<footer class="footer"
	<small>
		This website was lovingly created by your husband, Bob Tucker.  You know where to find him.
	</small>
	<nav>
		<a href="https://www.github.com/schwein11/valentine2015">Github Repo</a>
	</nav>
</footer>